:root {
    --background: #F8C8DC;
    --font-color: #464646;
}

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: Adelia;
    src: url(fonts/adelia.ttf);
}

body {
    background-color: var(--background);
    font-family: Poppins;
    color: var(--font-color);
    height: 100vh;
}

.martop5{
    margin-top: 5rem;
}

.padtop5 {
    padding-top: 1rem;
}

.right {
    text-align: right;
}

.middle {
    text-align: center;
}

@media screen and (min-width: 481px) {
    main {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .middle {
        text-align: center;
    }
    
    .hp {
        display: none;
    }

    .martop3 {
        margin-top: 3rem;
    }

    .martop5 {
        margin-top: 0;
    }

    .title{
        width: 300px;
    }

    .name {
        font-family: Adelia;
        font-size: 1.15rem;
        margin-top: -2.5rem;
    }

    .time-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 2rem 0 0;
        margin-top: 2rem;
        font-weight: bold;
    }

    .vl {
        border-left: 3px solid var(--font-color);
        height: 11vh;
        border-radius: 25%;
        margin: 0 auto;
    }

    .time {
        display: flex;
        flex-direction: column;
        width: 25%;
        text-align: right;
        margin: 0 0 0 2rem;
        align-content: center;
    }

    .center {
        width: -75%;
        height: 100%;
        text-align: center;
        margin: 0;
    }

    .clock {
        margin-top: -0.5rem;
        font-size: 0.9rem;
    }

    .date-container {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .date {
        width: 100%;
        margin: 0 auto;
        font-size: 2.5rem;
    }

    .month {
        margin-top: -1.3rem;
        font-size: 1.3rem;
    }

    .place {
        display: flex;
        flex-direction: column;
        width: 25%;
        margin: 0 2rem 0 0;
        font-size: 0.8rem;
    }

    .place2 {
        margin-top: -0.5rem;
    }

    .clocks {
        margin-top: 0.5rem;
        width: 40px;
    }

    .location {
        width: 50px;
        height: 40px;
        margin: 0 auto;
    }

    .dress {
        margin-top: 1.5rem;
    }

    .dress1 {
        margin-top: -0.2rem;
        font-size: 0.8em;
    }

    .colors {
        display: flex;
        flex-direction: row;
        width: 30%;
        margin: 0 auto;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 3rem;
    }
    .color1{
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: #D9C8AE;
        margin: 0 auto;
        border: 2px solid var(--font-color);
    }

    .color2 {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: #AFEAAC;
        margin: 0 auto;
        border: 2px solid var(--font-color);
    }

    .color3 {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: #B19F8B;
        margin: 0 auto;
        border: 2px solid var(--font-color);
    }

    .form {
        width: 80%;
        margin: 0 auto;
        font-size: 0.7rem;
        color: var(--font-color);
    }

    .formtext {
        margin-bottom: 0.5rem;
    }

    .inputname {
        width: 100%;
        border: none;
        background: #f2f2f2;
        padding: 0.2rem 0.7rem;
        border-radius: 20px;
    }

    .fsize {
        font-size: 0.9rem;
    }

    button {
        border: none;
        background: none;
        font-family: Poppins;
        font-size: 0.8rem;
    }

    .pemisah {
        text-align: center;
    }

    .reset {
        margin-top: 0.5rem;
        margin-left: 1rem;
    }

    .submit {
        font-size: 1rem;
        margin-bottom: 5rem;
        background: white;
        padding: 0.1rem 0.7rem;
        border-radius: 20px;
    }

}